.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}



body {
    background: #073642;
    color: #839496;
}

h1 {
    font: 30px/118% normal Verdana, Tahoma, sans-serif;
}

.content-table {
    border-collapse: collapse;
    border: 1px red solid;
}

.content-table td {
    border: 1px #94a1a1 solid;
    padding: 5px;
}
